<% if kaminari_page.total_count > 0 %>
  <nav
    class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
    aria-label="Table navigation"
  >
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          Showing
          <span class="font-semibold text-gray-900 dark:text-white"><%= kaminari_page.limit_value * (kaminari_page.current_page - 1) + 1 %>
            -<%= [kaminari_page.limit_value * (kaminari_page.current_page - 1) + kaminari_page.limit_value, kaminari_page.total_count].min %></span>
          of
          <span class="font-semibold text-gray-900 dark:text-white"><%= kaminari_page.total_count %></span>
        </span>
    <ul class="inline-flex items-stretch -space-x-px">
      <li>
        <%= link_to url_for(page: kaminari_page.prev_page),
                    class: "flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
          <span class="sr-only">Previous</span>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
          </svg>
        <% end %>
      </li>
      <%
        total_pages = kaminari_page.total_pages
        current_page = kaminari_page.current_page

        visible_pages = []
        visible_pages << 1

        if total_pages > 1
          if total_pages <= 5
            visible_pages = (1..total_pages).to_a
          else
            if current_page <= 3
              visible_pages = [1, 2, 3, 4, '...', total_pages]
            elsif current_page >= total_pages - 3
              visible_pages = [1, '...', total_pages - 4, total_pages - 3, total_pages - 2, total_pages - 1, total_pages]
            else
              visible_pages = [1, '...', current_page - 1, current_page, current_page + 1, '...', total_pages]
            end
          end
        end
      %>

      <% visible_pages.each do |page| %>
        <li>
          <% if page == '...' %>
            <span class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">...</span>
          <% else %>
            <%= link_to page.to_s,
                        url_for(page: page),
                        class: "flex items-center justify-center text-sm py-2 px-3 leading-tight #{page == current_page ?
                                                                                                     'text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' :
                                                                                                     'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'}" %>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to url_for(page: kaminari_page.next_page),
                    class: "flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
          <span class="sr-only">Next</span>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
          </svg>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>