<aside
  class="
    fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0
    dark:bg-gray-800 dark:border-gray-700
  "
  aria-label="Sidenav"
  id="drawer-navigation"
>
  <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
    <form action="#" method="GET" class="md:hidden mb-2">
      <label for="sidebar-search" class="sr-only">Search</label>
      <div class="relative">
        <div class=" flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none ">
          <%= render template: "shared/icons/magnifying_glass", locals: { html_class: "w-5 h-5 text-gray-500 dark:text-gray-400" } %>
        </div>
        <input
          type="text"
          name="search"
          id="sidebar-search"
          class="
            bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
          "
          placeholder="Search"
          />
      </div>
    </form>
    <ul class="space-y-2">
      <%= render partial: "shared/sidebar/item",
                 locals: {
                   link: root_url,
                   icon_name: "storage",
                   title: "Example Sidebar Item",
                   active: request.fullpath.start_with?(/dashboard/)
                 } %>
    </ul>
  </div>
  <div
    class="
      hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20 border-t border-gray-200
      dark:border-gray-700
    "
  >
    <div class="flex flex-wrap">
      <div class="flex w-full min-w-full">
        <button
          id="dropdownUserNameButton"
          data-dropdown-toggle="dropdownUserName"
          data-dropdown-placement="bottom"
          class="
            flex justify-between items-center p-2 rounded-lg dark:bg-gray-700 dark:hover:bg-gray-800 hover:bg-gray-100 dark:hover-bg-gray-700
            focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 w-full border border-gray-200 dark:border-gray-700
          "
          type="button"
        >
          <span class="sr-only">Open user menu</span>
          <div class="flex items-center mr-2">
            <%= render partial: "shared/dropdowns/account_inner", locals: { account: current_account, link: false } %>
          </div>
          <%= render template: "shared/icons/up_down_arrow", locals: { html_class: "w-4 h-4 text-gray-500 dark:text-gray-400" } %>
        </button>
        <!-- Dropdown menu -->
        <div
          id="dropdownUserName"
          class="hidden z-10 w-[90%] bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
          data-popper-placement="bottom"
        >
          <% @accounts.each do |account| %>
            <%= render partial: "shared/dropdowns/account", locals: { account: account } %>
          <% end %>

        </div>
      </div>
      <div class="flex w-full min-w-full grid grid-cols-3 mt-5">
        <a
          href="#"
          class="
            inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900
            hover:bg-gray-100 dark:hover:bg-gray-600
          "
        >
          <%= render template: "shared/icons/add_user",
                     locals: {
                       html_class:
                         "flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white",
                     } %>
        </a>
        <a
          href="#"
          class="
            inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 hover:text-gray-900 dark:hover:text-white
            hover:bg-gray-100 dark:hover:bg-gray-600
          "
        >
          <%= render template: "shared/icons/help_circle",
                     locals: {
                       html_class:
                         "flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white",
                     } %>
        </a>
        <a
          href="#"
          class="
            inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900
            hover:bg-gray-100 dark:hover:bg-gray-600
          "
        >
          <%= render template: "shared/icons/bullhorn",
                     locals: {
                       html_class:
                         "flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white",
                     } %>
        </a>
      </div>
    </div>
  </div>
</aside>
