<!-- User Dropdown -->
<button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown">
  <span class="sr-only">Open user menu</span>
  <% if current_user.avatar.attached? %>
    <%= image_tag(url_for(current_user.avatar), class: "w-8 h-8 rounded-full") %>
  <% else %>
    <div class="relative inline-flex items-center justify-center w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
      <span class="font-medium text-gray-600 dark:text-gray-300"><%= current_user.initials %></span>
    </div>
  <% end %>
</button>
<!-- Dropdown menu -->
<div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl" id="user-dropdown">
  <div class="py-3 px-4">
    <span class="block text-sm font-semibold text-gray-900 dark:text-white"><%= current_user.full_name %></span>
    <span class="block text-sm text-gray-900 truncate dark:text-white"><%= current_user.email %></span>
  </div>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <%= link_to edit_user_registration_path, class: "block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white" do %>
        User Settings
      <% end %>
    </li>
    <li>
      <div class="flex py-2 px-4 rounded hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white" data-controller="utils">
        <label class="inline-flex items-center justify-between w-full cursor-pointer" for="toggle_dark_mode_checkbox">
          <span class="text-sm">Toggle Dark Mode</span>
          <input id="toggle_dark_mode_checkbox" type="checkbox" value="" class="sr-only peer">
          <div data-action="click->utils#toggleDarkMode" class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600 float-right"></div>
        </label>
      </div>
    </li>
  </ul>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <%= link_to "Sign out", destroy_user_session_path, class: "block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { 'turbo-method': "delete" } %>
    </li>
  </ul>
</div>
