<!DOCTYPE html>
<html id="layout_application">
  <head>
    <%= render '/layouts/head' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body>
    <%= render partial: "shared/static/header" %>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
