<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Digital Credentials</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "digital_credentials", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <main class="container mx-auto p-6">
      <%= yield %>
    </main>
  </body>
</html>
